body {
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #EFEAD8;
    color: #5F7161;

}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sobreMi {
    display: flex;
    background-color: #5F7161;
    color: #EFEAD8;
    padding: 2%;
    text-align: center;
    font-weight: bold;
    flex-direction: column;
    align-items: center;
}

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
  .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
  }

  .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }


.sobreMi h1 {
    margin: 20px 0;
    font-size: 40px;
    animation: 2s fadeIn;
}

.sobreMi p {
    margin: 5px;
    padding: 10px 0;
    font-size: 18px;
}
.contenedor{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tarjeta{
    height: 200px;
    width: 200px;
    background-color: #243829;
    border-radius: 50%;
    box-shadow: 12px 10px 16px #0000008c;
    position: relative;
    overflow: hidden;
}
.tarjeta::before
{
    content: "";
    position: absolute;
    inset: -10px 50px;
    background: linear-gradient(315deg, #6D8B74, #D0C9C0);
    transition: 0.2s;
    overflow: hidden;
    animation: animate 2s linear infinite;
}
.tarjeta:hover::before{
    inset: -20px 0px;
}

@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.tarjeta::after
{
    content: '';
    position: absolute;
    inset: 3px;
    background: #5F7161;
    border-radius: 50%;
    z-index: 1;
}

.contenido{
    position: absolute;
    inset: 10px;
    border: 3px solid #D0C9C0;
    z-index: 3;
    border-radius: 50%;
    overflow: hidden;
}
.contenido img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    pointer-events: none;
}
.tarjeta:hover .contenido img
{
    transform: scale(1.20);
}

.galeria h3{
    font-size: 20px;
    text-align: center;
    margin: 50px;
}
.galeria {
    max-width: 95%;
    margin: 5px auto;
    padding-bottom: 10px;
    border-radius: 5px;
}

#barismo {
    background-color: #D0C9C0;
}
#philomena {
    background-color: #6D8B74;
    color: #D0C9C0;
    box-shadow: 2px 2px #00000018;
    margin: 10px;
}

.galeria p {
    text-align: center;
    margin: 15px;
}

.galeria img {
    max-width: 80%;
    border-radius: 8px;
    box-shadow: 2px 2px 2px #48484860;
    margin: 5px;
    transition: transform 0.3s ease;
}
.galeria img:hover {
    transform: scale(1.20);
    box-shadow: 10px 10px 8px #1b0e054c;

}
footer{
    height: 100px;
    font-size: 15px;
}